.sidebar {
    height: 100vh;

    .sidebar-three-stripes {
        display: flex;
        background-color: $bg-sidebar;
        padding: 10px;
        height: 48px;
        align-items: center;
        justify-content: center;
        .icon-three-stripes {
            background-position: -312px -32px;
            cursor: pointer;
        }
    }

    &-logo-ctn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $bg-sidebar;
        height: 48px;
        padding: 24px;
    }

    &-option {
        width: 24px;
        height: 24px;
        margin-right: 10px;
        background: url('../../../assets/img/Sprites.64af8f61.svg') no-repeat -424px -86px;
        cursor: pointer;
    }

    &-logo {
        width: 96px;
        height: 32px;
        background-image: url('../../../assets/img/Logo_Module_TiengViet_White.66947422.svg');
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .list-menu {
        height: calc(100% - 48px);
        overflow-x: auto;
        padding-top: 14px;
        background-color: #393a3d;

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar {
            width: 6px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $bg-scrollbar-thumb;

        }

        &:hover {
            &::-webkit-scrollbar-thumb {
                background-color: $bg-scrollbar-thumb-hover;
            }
        }

        &::-webkit-scrollbar-track-piece {
            background-color: $bg-scrollbar-track-piece;
        }
        .item-menu {
            background-color: $bg-sidebar;
            display: block;
            padding-left: 8px;
            height: 42px;
            line-height: 42px;
            text-decoration: none;
            border-left: 6px solid transparent;

            &-ctn {
                display: flex;
                color: $color-white;
                height: 42px;
            }
        }
        .item-menu-icon {
            margin-right: 8px;
            display: flex;
            align-items: center;
            justify-content: center;

            .icon-dashboard {
                background-position: -30px -1628px;
            }

            .sidebar-cash {
                background-position: -73px -1628px;
            }

            .sidebar-bank {
                background-position: -117px -1628px;
            }

            .sidebar-pu {
                background-position: -161px -1628px;
            }

            .sidebar-sale {
                background-position: -204px -1628px;
            }

            .sidebar-invoice {
                background-position: -249px -1628px;
            }

            .sidebar-stock {
                background-position: -291px -1628px;
            }

            .sidebar-tools {
                background-position: -336px -1628px;
            }

            .sidebar-fixed-assets {
                background-position: -378px -1630px;
            }

            .sidebar-tax {
                background-position: -423px -1630px;
            }

            .sidebar-price {
                background-position: -467px -1628px;
            }

            .sidebar-general {
                background-position: -510px -1628px;
            }

            .sidebar-budget {
                background-position: -378px -1659px;
            }

            .sidebar-report {
                background-position: -547px -1628px;
            }

            .sidebar-finance {
                background-position: -204px -1664px;
            }
        }

        .close-logo {
            margin-right: 14px;
        }

        .item-menu-text {

        }

        ul {
            li:hover {
                .item-menu {
                    background-color: $bg-item-menu-hover;
                }
            }
        }

        .router-link-exact-active {
            border-left-color: #2ca01c;
            background-color: $bg-item-menu-hover;

            .item-menu-text {
                font-family: 'noto-sans-Bold', sans-serif;
            }

            .item-menu-icon {

                .icon-dashboard {
                    background-position: -30px -1585px;
                }
                
                .sidebar-cash {
                    background-position: -73px -1585px;
                }

                .sidebar-bank {
                    background-position: -117px -1585px;
                }

                .sidebar-pu {
                    background-position: -161px -1585px;
                }

                .sidebar-sale {
                    background-position: -204px -1585px;
                }

                .sidebar-invoice {
                    background-position: -249px -1585px;
                }

                .sidebar-stock {
                    background-position: -291px -1585px;
                }

                .sidebar-tools {
                    background-position: -336px -1585px;
                }

                .sidebar-fixed-assets {
                    background-position: -378px -1587px;
                }

                .sidebar-tax {
                    background-position: -423px -1587px;
                }

                .sidebar-price {
                    background-position: -467px -1585px;
                }

                .sidebar-general {
                    background-position: -510px -1585px;
                }

                .sidebar-budget {
                    background-position: -422px -1659px;
                }

                .sidebar-finance {
                    background-position: -204px -1664px;
                }
            }
        }

    }
}