input {
    width: 100%;
    height: 31px;
    padding: 5px 10px;
    padding-right: unset;
    text-overflow: ellipsis;
    font-size: 13px;
    text-decoration: none;
    outline: none;
    appearance: none;
    transition: all 200ms;
}

.icon-arrow-down {
    background-position: -560px -359px;
}

.department-icon-ctn {
    width: 32px;
    height: 31px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: #e0e0e0;
        border-color: #e0e0e0;
    }
}

.border-error {
    border-color: red !important;
}

.autocomplete-department {
    position: relative;
    border: 1px solid #babec5;
    border-radius: 2px;

    &:hover {
        .tool-tip {
            display: block;
        }
    }

    .dropdown-option {
        position: absolute;
        top: 110%;
        left: -1px;
        min-width: 408px;
        width: 408px;
        background-color: #fff;
        border: 1px solid #babec5;
        border-radius: 2px;
        overflow: hidden;

        .department-title {
            background: #f4f5f8;
            height: 32px;
            padding: 0 10px;
            line-height: 32px;
            font-size: .85rem;
            font-family: 'noto-sans-Bold', sans-serif;
            color: #111;
        }

        .list-option {
            max-height: 160px;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 2px 1px;

            &-height {
                height: 160px;
            }

            // scrollbar dropdown option
            &::-webkit-scrollbar {
                width: 10px;
                height: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background: #b8bcc3;
            }
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }
            &::-webkit-scrollbar-track-piece {
                background-color: #f1f1f1;
                width: 10px;
            }

            li {
                .option-item {
                    padding: 0 10px;
                    height: 32px;
                    display: block;
                    line-height: 32px;
                    font-family: 'noto-sans-Bold', sans-serif;
                    color: #111;
                    text-decoration: none;
                    padding: 0 20px;

                    &:hover {
                        color: #35bf22;
                        background-color: #ebedf0;
                    }
                }
            }

            .selected-option {
                color: #35bf22 !important;
                background-color: #ebedf0;
            }
        }

        .loading {
            position: absolute;
            top: 58%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 406px;
            height: 160px;
            font-size: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            color: #2CA01C;
        }

        .message-no-data {
            height: 32px;
            width: 406px;
            line-height: 32px;
            text-align: center;
        }
    }
}

.input-active {
    border: 1px solid #2ca01c;
}