.date-picker {
    display: flex;
    border: 1px solid #babec5;
    .calendar {
        width: 32px;
        height: 30px;
        min-width: 30px;
        min-height: 30px;
        cursor: pointer;
        display: flex;
        justify-content: center;
      .icon-calendar {
        height: 30px;
        min-width: 16px;
        min-height: 30px;
        background: url('../../../assets/img/Sprites.64af8f61.svg') no-repeat;
        background-position: -128px -306px;
      }
    }
    
    &:hover {
      outline: 1px solid #e2e2e2;
    }
  }
  
  .vdpComponent {
    height: 30px;
    display: flex;
    input {
      padding: 5px 0 5px 10px;
      outline: none;
      width: 133.19px;
      box-sizing: border-box;
      font-size: 13px;
    }
  }

.border-focus {
  border: 1px solid #2ca01c;
  outline: none !important;
}

.input-date {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'noto-sans-italic', sans-serif;
    color: #A4A4A4;
    font-size: 12px;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    font-family: 'noto-sans-italic', sans-serif;
    color: #A4A4A4;
    font-size: 12px;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    font-family: 'noto-sans-italic', sans-serif;
    color: #A4A4A4;
    font-size: 12px;
  }
  &:-moz-placeholder { /* Firefox 18- */
    font-family: 'noto-sans-italic', sans-serif;
    color: #A4A4A4;
    font-size: 12px;
  }
}