.date-picker {
    display: flex;
    border: 1px solid #babec5;
    .calendar {
        width: 32px;
        height: 30px;
        min-width: 30px;
        min-height: 30px;
        cursor: pointer;
        display: flex;
        justify-content: center;
      .icon-calendar {
        height: 30px;
        min-width: 16px;
        min-height: 30px;
        background: url('../../../assets/img/Sprites.64af8f61.svg') no-repeat;
        background-position: -128px -306px;
      }
    }
  }
  
  .vdpComponent {
    height: 32px;
    display: flex;
    input {
      padding: 5px 0 5px 10px;
      outline: none;
      width: 127.2px;
      box-sizing: border-box;
      font-size: 13px;
    }
  }

.border-focus {
  border: 1px solid #2ca01c;
}