$bg-sidebar: #393a3d;
$bg-item-menu-hover: #616164;
$bg-body: #f8f8f8;

$color-white: #fff;
$color-black: #000;
$color-dark: #111;
$color-border-current-db: #ebedf0;
$color-header-border-search: #ebedf0;
$color-header-search-outline: #e2e2e2;
$color-gray: #AEAEAE;
$color-light-blue: #0075c0;
$color-green: #2ca01c;

$bg-scrollbar-thumb: #d4d7dc;
$bg-scrollbar-thumb-hover: #b8bcc3;
$bg-scrollbar-track-piece: #f1f1f1;
$bg-header-tools-hover: #2ca01c;


// $bg-scrollbar-thumb: #f1f1f1;
// $bg-scrollbar-track-piece-hover: #b8bcc3;
// $bg-scrollbar-track-piece: #d4d7dc;